body {
  background-color: rgb(194, 113, 194);
  text-align: center;
  height: 100vh
}

header {
  display: flex;
  flex-direction: column;
  background-color: purple;
  height: 100px;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  color: white
}